extends layout

block content
  h1= title
  case cheatsheet 
    when "polynomials"
      p for a quadratic equation: 
      p `f(x) = ax^2 + bx + c`, 
      p roots are: 
      p `x = (-b +- sqrt(b^2-4ac))/(2a)`
    when "trigonometry"
      p wow trigonometry
    when "calculus"
      p wow calculus
    when "stoichometry"
      p wow stoichometry
