doctype html
html
  head
    title= app_title
    script(type="text/javascript", src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      window.onload = function() {
        var subjects = document.getElementsByClassName('subject');
        for(var i=0; i < subjects.length; i++) {
          if (subjects[i].innerHTML === "#{cheatsheet}") {
            subjects[i].classList.add('selected');
          }
          (function() {
            var x = subjects[i];
            subjects[i].onclick = function() { 
              location.href = '/?subject=' + x.innerHTML;
            }
          })();
        }
      }
  body
    image(src="/images/201550-education/png/learning.png", width="100", height="100")
    div(id="cheator-selector")
      button(type="submit", class="subject", id="polynomials") polynomials
      button(type="submit", class="subject", id="trigonometry") trigonometry
      button(type="submit", class="subject", id="calculus") calculus
      button(type="submit", class="subject", id="stoichometry") stoichometry
    block content
    footer proudly brought to you by Vanvan!

