doctype html
html
  head
    title= app_title
    script(type="text/javascript", src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      window.onload = function() {
        var subjects = document.getElementsByClassName('subject');
        for(var i=0; i < subjects.length; i++) {
          (function() {
            var x = subjects[i].innerHTML;
            subjects[i].onclick = function() { location.href = '/?subject=' + x; }
            // console.log("hello " + x);
          })();
        }
      }
  body
    image(src="/images/201550-education/png/learning.png", width="100", height="100")
    block content
    div(id="cheator-selector")
      button(type="submit", class="subject", id="algebra-1") algebra-1
      button(type="submit", class="subject", id="algebra-2") algebra-2
      button(type="submit", class="subject", id="precal") precal
      button(type="submit", class="subject", id="ap-chemistry") ap-chemistry
    footer proudly brought to you by Vanvan!

